body {
    background-color: #182136;
    background-image: url(fondoweb01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navegador {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #603d3d;
  }
  .navegador li{
    display: inline-block;
    margin-right: 10px;
  }
  .navegador li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #151816;
  }
  .navegador li a:hover {
    background-color: #182136;
  }
  .argumento {
    color: aliceblue;
  }